.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  background-color: #10515a;
  color: white;
  font-weight: 600;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.toolbar-item {
  margin: 0 10px;
}

.logout-button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.logout-button:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}
.logout-button:active {
  position:relative;
  top:1px;
}

.main-title {
  font-size: 32px;
  font-family: Arial;
  align-content: center;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.title-link {
  text-decoration: none;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f8deb6;
}

tr:nth-child(odd) {
  background-color: white;
}

th {
  background-color: #10515a;
  color: white;
}

.table-container {
  width: 50%;
}

.table-inner-container{
  overflow: auto;
  height: 500px;
}

.form-container {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-field{
  margin-bottom: 10px;
  padding-bottom: 0 10px;
  width: 90%;
  height: 20px;
  border-radius: 10px;
}

.login-label{
  margin-bottom: 5px;
  text-align: center;
  color: #50A6BB;
  font-family: Arial;
}

.login-button{
  margin-bottom: 20px;
}

.login-container{
  width: 15%;
  background-color: #f8deb6;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  margin-top: 100px;
}

#user{
  margin-top: 20px;
}

#password-field{
  margin-bottom: 20px;
}

.table-container{
  margin: 0 auto;
}

#search-field{
  width: 50%;
}

.main-footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #a2c7c7;
  justify-content: space-between;
  align-items: center;
}

.footer-item{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
}

.footer-item a{
  text-decoration: none;
  color: #ffffff;
}





